:root{
    --primary-color: #0295A9;
    --secondary-color: #12ADC1;
    --tertiary-color: #FDD037;
    --fourth-color: #FFFFFF;
  
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
   
    font-family: sans-serif;
    width: 100%;
    margin: auto;
    
  }
  
  .navbar{
    width: 100%;
    margin: auto;
   
    top: 0;
    left: 0;
    display: flex;
    justify-content: right; 
    align-items: right; 
    z-index: 9;
    background: var(--secondary-color);
  }
  
  .link-group{
    list-style: none;
    display: flex;
  }
  
  .link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem;
    margin: 1rem, auto;
    line-height: 80px;
    transition: .5s;
    font-size: 1rem;
  }
  
  .link a:hover, .link.active a{
    opacity: 1;
  }

  /* quiz */

  .form-result{
  width: 90%;
  margin: auto;
  padding: 2rem;
  
  }

  .question-container{
    
    background-color: rgba(128, 128, 128, 0.11);
    width: 85%;
    border: 5px solid#0295A9 ;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
  }

  .submit-btn{
    
    padding: 10px 24px;
    background-color:white;
    color:#0295A9;
    border: 2px solid #0295A9;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    font-size: large;
    transition-duration: 0.4s;
    
    
  }

  .submit-btn:hover {
    background-color:#0295A9;
    color: white;
  }
  .output-msg{
    
    
    width:auto;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    color: #0295A9;
    
    padding: 20px;
    margin: auto;

  }

  .container{
    background-color: rgba(128, 128, 128, 0.11);
    margin-top: 1rem;
    text-align: center;

    
    width: 85%;
    border: 5px solid#0295A9 ;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
  }
  .heading{
    color: #0295A9;
    
  }
  .labelstyle{
    color: #0295A9;
    font-size: large;
    padding: 10px;
    
    
    
  }
  .input{
    
    padding: 4px;
    margin-bottom: 15px;
    
    
  }
